Repository kangqod/vite-react-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix, yarn format

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --fix --cache",
  "*.css": "stylelint --fix",
  "*.{js,jsx,ts,tsx,css,html,json,md,mdx,yml,yaml}": "yarn format"
}

README 수정
  .eslintrc.json
  .husky/pre-commit
  README.md
  package.json
  yarn.lock
Due: yarn format

add react settings
  .eslintrc.json
Due: yarn format

remove stylelint
  .lintstagedrc.json
  .stylelintignore
  .stylelintrc.json
  package.json
  yarn.lock
Due: yarn format

fix readme
  README.md
Due: yarn format

add react-hooks, vite upgrade
  .eslintrc.json
  package.json
  tsconfig.json
  yarn.lock
Due: yarn format

change directory structure
  index.html
  public/static/images/favicon.svg
  public/static/images/logo.svg
  src/components/Count.tsx
Due: eslint --fix --cache, yarn format

modify tsconfig
  tsconfig.json
Due: yarn format

change tsconfig
  tsconfig.json
Due: yarn format

test
  .husky/pre-commit
  .lintstagedrc.json
  .vscode/settings.json
  package.json
  tsconfig.json
Due: yarn format

change ignore
  .gitignore
Due: none
